*{
    font-family: "Comic-Sans";
    background: #3cb4c9;
    color:aliceblue;

    margin: 0;
    padding: 0;
    vertical-align: baseline;
    
}
body {
    text-align: center;
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 2px;
}
form{
    display: block;
}
.campo{
    width: auto;
	height:auto;
	background-color:#9da6ff;
    border-radius: 10px;
}
#cadastrar{
    width: 80px;
	height:30px;
	background-color:#7af37a;
    border-radius: 10px;
}